# Ignore everything
*

# Allow published AAR Maven repo only
!repo/
!repo/**

# Keep basic repo files
!README.md
!.gitignore

# macOS
.DS_Store
Icon?

# Python / temp
*.pyc
*.swp
*.log

# Flutter / IDE / generated
.dart_tool/
.pub/
.idea/
.vagrant/
.svn/
build/
.android/
.ios/
.flutter-plugins
.flutter-plugins-dependencies

# Xcode
DerivedData/
xcuserdata
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# Symbols / maps
app.*.symbols
app.*.map.json